body{
    

    display: flex;
    justify-items: center;
    align-items: center;
    min-height: 100vh;
}

.user{
    background-color: #c3c3c3;

    padding: 12px;
    border-radius: 8px;

    font-family: sans-serif;
}