elementos em block: 
-cria uma quebra de linha, 
-sempre ocupa a largura inteira disponivel(width). 
-pode coter outro bocke inlines elements

<div></div> ; <h1></h1> ; <h6></h6> ; <p></p>

elementos inline: 
-nao quebra uma linha; 
-um inline ocupa apenas sua largura necessaria; 
-nao da para aumentar a largura e altura dele; 
-as propriedades (margin-top e margin-bottiom) sao ignoradas; 
-as propriedades padding top e padding bottom nao interferem no tamanho total de um inline;
-pode conter ouros inline elements

<span></span> ; <img src="" alt=""> ; <a href=""></a>;

elementos inline-block:
-nao cria uma quebra de linha;
-ocupa apenas a largura nessessaria(mas podem modificar seu width e height);
-nao possui margin-top e margin-bottom;
-pode conter outros blocks e inline elements;


